body{margin-top:20px;}
.cart-item-thumb {
    display: block;
    width: 10rem
}
a {
    text-decoration: none !important;
}

.cart-item-thumb>img {
    display: block;
    width: 100%
}

.product-card-title>a {
    color: #222;
}

.font-weight-semibold {
    font-weight: 600 !important;
}

.product-card-title {
    display: block;
    margin-bottom: .75rem;
    padding-bottom: .875rem;
    border-bottom: 1px dashed #e2e2e2;
    font-size: 1rem;
    font-weight: normal;
}

.text-muted {
    color: #888 !important;
}

.bg-secondary {
    background-color: #f7f7f7 !important;
}

.accordion .accordion-heading {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: bold;
}
.font-weight-semibold {
    font-weight: 600 !important;
}
form {
    max-width: auto;
    margin: 0;
    padding: 0 5px;
  }
  
  p > label {
    display: block;
  }
  
  input[type=text],
  input[type=email],
  input[type=number],
  textarea,
  fieldset {
  /* requis pour composer de manière appropriée les éléments
     de formulaire sur les navigateurs fondés sur WebKit */
    -webkit-appearance: none;
  
    width : 100%;
    border: 1px solid #333;
    margin: 0;
  
    font-family: inherit;
    font-size: 90%;
  
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  input:invalid {
    box-shadow: 0 0 5px 1px red;
  }
  
  input:focus:invalid {
    outline: none;
  }