body{
  margin:0;
  padding: 0;
    border-bottom: 1px dashed hsl(0, 59%, 68%);
    background-color:rgb(248, 240, 240) ;
}
.cart-item-thumb {
    display: block;
    width: 10rem
}
a {
    text-decoration: none !important;
}
.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited{
  background-color:rgb(245, 243, 245) !important;
}
.btn-outline-primary:hover{
  color: #ff33ff;
}
.cart-item-thumb>img {
    display: block;
    width: 100%
}

.product-card-title>a {
    color: #222;
}

.font-weight-semibold {
    font-weight: 600 !important;
}

.product-card-title {
    display: block;
    margin-bottom: .75rem;
    padding-bottom: .875rem;
    border-bottom: 1px dashed #e2e2e2;
    font-size: 1rem;
    font-weight: normal;
}

.text-muted {
    color: #888 !important;
}

.bg-secondary {
    background-color: #f7f7f7 !important;
}

.accordion .accordion-heading {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: bold;
}
.font-weight-semibold {
    font-weight: 600 !important;
}
form {
    max-width: auto;
    margin: 0;
    padding: 0 5px;
  }
  
  p > label {
    display: block;
  }
  
  input[type=text],
  input[type=email],
  input[type=number],
  textarea,
  fieldset {
  /* requis pour composer de manière appropriée les éléments
     de formulaire sur les navigateurs fondés sur WebKit */
    -webkit-appearance: none;
  
    width : 100%;
    border: 1px solid #333;
    margin: 0;
  
    font-family: inherit;
    font-size: 90%;
  
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .navbar-custom {
    background-color: rgb(245, 229, 245);
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: black;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgb(102, 93, 93);
    font-weight: 700;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ff33ff;
}
  input:invalid {
    box-shadow: 0 0 5px 1px red;
  }
  
  input:focus:invalid {
    outline: none;
  }
  .gras{
      font-weight: bold !important;
  }
  
  .footer {
    height: 50px;
    left: 0;
    bottom: 2rem;
    width: 100%;
    background-color: rgb(245, 229, 245);
    color: white;
    text-align: center;
    
 } 
 
  input {
    border-width: 3px;
  }
  input:optional {
    border-color: #008000;
  }
 input:required {
    border-color: #800000;
  }  
/* Panier  */






  

